/* padding: 20 px between a text box and a border, margin: buffer distance between the current element and any other element*/
body {
  margin: 0;
  text-align: center;
  /* NOTE: WEB SAFE FONTS are important ta ybayen l website zet chi 3and kel l nes, but there is no font 100%*/
  /* NOTE: So menhot kaza ehtimel hasab l mawjud byetla3*/
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif*/
  /* NOTE: Eza asarrayna eno ychufo zet chimnzid el links*/
  font-family: 'Merriweather', serif;
  color: #40514E;
}

.top-container {
  background-color: #E4f9f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

h1 {
  font-size: 562.5%;
  /* NOTE: we want it to be 90px but flexible so 100% is 16px => Regle de trois*/
  /*NOTE: 16px = 100% = 1em*/
  /*NOTE: Attention! % and em are enherited byet2asaro bel parent
  so that we can you use rem*/
  /*NOTE: rem is the best*/
  margin-top: 50px;
  margin-bottom: 0px;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
}

.subtitle {
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  /*font-size: 2.5rem;*/
  color: #11999E;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  /*font-size: 2.5rem;*/
  color: #11999E;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 6px;
  width: 4%;
  margin-top: 100px;
  margin-bottom: 100px;
}

p {
  line-height: 2;
}

/*--------------------------------------- Display and Positioning------------------------------------------*/
/* NOTE: display!!! inline, block,inline-block */
/* NOTE:
Relative Positioning: between the element and where it is supposed to be by deffault.
Absolute Positioning: between the element and its parent.
Fixed Positioning: Even if we scroll the object stays in its position. */
/*--------------------------------------- Centering Elements ----------------------------------------------*/
/* NOTE: Centering happens inside the parent (body for example)
we can use text-align: center or margin:auto
the auto value of the margin is used for the elements that have a width. */
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 250px;
  top: 500px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 30px;
}

.skill-row {
  width: 50%;
  /*NOTE: To center an element: set margin-left & margin-right to auto*/
  margin: 100px auto 100px auto;
  /*NOTE: clockwise starting from the top*/
  text-align: left;
}

/*NOTE: We can scale down images by changing width*/
.c-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.web-image {
  width: 25%;
  /*25% of their parent lli huwwe l div lli huwwe already 50% men l page kella*/
  float: right;
  margin-left: 30px;
}

/*NOTE: clear is anti-float*/
/*
.skills-text1{
  clear: left;
}
.skills-text2{
  clear: right;
}
*/
.description {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.lastp {
  width: 40%;
  margin-top: 40px;
  margin-bottom: 40px;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
/*NOTE:When we touch it its color changes*/
a:hover{
  color: #EAF6F6;
}
/*-----------------------------------------------------Button------------------------------------------------------------*/
.BUTTON_DDZ {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_DDZ:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
.footer {
  color: #EAF6F6;
  font-size: 0.75rem;
  margin-bottom: 0px;
  padding: 20px 0px;
  line-height: 2;
}
